
.row_style {
  padding-left: 10px;
  padding-right: 10px;
}

.row_style{
    padding-top: 10px;
	padding-left: 20px;
}
.carouselrows{
  padding-top: 15px;
}
.btn-space{
  padding-bottom: 10px;
}
.border_checkout{
  padding-top: 10px;
  border-radius: 15px;
  background-color:  #ffffff;
  width: 100%;
  height: 100%;
}
.button-color{
  background-color:   #e7e7e7;
  border-color:  #2f3180;
}
.inputsize{
  width: 120px;
}
.line-above{
  border-top: 1px solid #2f3180 ;
}
.btnextend{
  width: 100%;
}
.btn-checkout{
  background-color: #00ccff;
}
.btn-subcateg{
  /*padding: 10px;*/
  background-color: #1a488e;
  display: inline-block;
  color: white;
}