{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_page.css' %}" type="text/css"/>
{#    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.15.1-web/css/all.css' %}">#}
    <title> Base Page </title>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{#    <script src="{% static 'vendor/jquery/jquery.mCustomScrollbar.concat.min.js' %}"></script>#}
    <script src="{% static 'js_scripts/base_page.js' %}"></script>
    <script src="https://kit.fontawesome.com/961150d9ae.js" crossorigin="anonymous"></script>
{#    <script src="{% static 'vendor/fontawesome-free-5.15.1-web/js/all.js' %}"></script>#}

</head>

<body>

<div class="container-fluid backcolor">
    <div class="d-flex" id="wrapper">
        <nav class=" navside_style border-right" id="sidebar">
            <div class="sidebar-header">
                <h1>Rest POS</h1>
            </div>
            <div class="list-group list-group-flush">
                <a href="/login" class="list-group-item list-group-item-action sidebck"><i
                        class="far fa-clipboard"></i>&nbsp;Dashboard</a>
                <a href="{% url 'subcateg_list_url' %}" class="list-group-item list-group-item-action sidebck"><i
                        class="fas fa-hand-holding-usd" aria-hidden="true"></i>&nbsp;Sell</a>
                <a href="{% url 'inventory_home' %}" class="list-group-item list-group-item-action sidebck"><i
                        class="fas fa-balance-scale" aria-hidden="true"></i>&nbsp;Inventory</a>
                <a href="#" class="list-group-item list-group-item-action sidebck"><i class="fas fa-users"
                                                                                               aria-hidden="true"></i>&nbsp;Staff</a>
                <a href="#" class="list-group-item list-group-item-action sidebck"><i class="fas fa-concierge-bell"
                                                                                               aria-hidden="true"></i>&nbsp;Kitchen</a>
                <a href="#" class="list-group-item list-group-item-action sidebck"><i class="fas fa-book-open"
                                                                                               aria-hidden="true"></i>&nbsp;Menu Setup</a>
                <a href="#" class="list-group-item list-group-item-action sidebck"><i class="far fa-calendar-alt"
                                                                                               aria-hidden="true"></i>&nbsp;Scheduling</a>
                <a href="#" class="list-group-item list-group-item-action sidebck"><i class="fas fa-chart-line"
                                                                                               aria-hidden="true"></i>&nbsp;Reports</a>
                <a href="#" class="list-group-item list-group-item-action sidebck"><i class="fa fa-cog"
                                                                                               aria-hidden="true"></i>&nbsp;Settings</a>
            </div>
        </nav>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navmain_style border-bottom" id="navbar_style">
                <div class="container-fluid">
                    <ul class="navbar-nav mr-auto">
                        <button class="btn btn_sidebar" id="sidebarCollapse"><i class="fa fa-bars"></i></button>
                    </ul>

                    <ul class="navbar-nav">
                        <button class="btn btn-order" id="orders">Orders</button>

                     <!-- Dropdown -->
                    {% if user.is_authenticated %}
                    <ul class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle link_style" href="#" id="navbardrop" data-toggle="dropdown">
                          <i class="fa fa-user" aria-hidden="true">
                             <span>{{ user.username }}</span>
                          </i>
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </div>
                    </ul>
                    {% endif %}
                    </ul>
                </div>
            </nav>

            <div class="row row_style">

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

</body>


